@import "tailwindcss";
@plugin "../../hero.ts";
@source "../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}";
@custom-variant dark (&:is(.dark *));

body {
  background: var(--background, #E6F1FE);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--foreground, #000);
  font-family: Inter, sans-serif;
}